@page "/cart"
@rendermode InteractiveServer

@using MediatR
@using Shop.Application.Command.Carts.Commands
@using Shop.UiLibrary.IntractiveComponents.Components

@inject IMediator Mediator
@inject NavigationManager Navigation

<CartView OnQuantityChanged="ChangeQuantity"
          OnRemoveClicked="OnRemoveClicked"
          CartResult="CartResult" />

@if (CartResult.Items.Any())
{
    <button class="btn btn-success mt-3" @onclick="SubmitInvoice">Checkout</button>
}
